.badge {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background-color: transparent;
  transition: var(--transition);

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 1.25rem rgba(108, 118, 134, 0.1);
  }

  & img {
    transform: scale(1.3);
  }
}