.cases-area {
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.section-title h2 {
  color: var(--white-color);
}

.cases-view-all-btn {
  text-align: center;
  margin-top: 15px;
}
.cases-view-all-btn .default-btn {
  color: var(--white-color);
  background-color: var(--scrollbar-track-color);
}
.cases-view-all-btn .default-btn span {
  background-color: var(--scrollbar-thumb-color);
}
.cases-view-all-btn .default-btn:hover {
  color: var(--white-color);
}