.pricing-title{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 80px;
    h1{
        color: var(--white-color);
    }
}
.wrap{
    display: flex;
    justify-content:center;
    gap: 15px;
    @media screen and (max-width: 768px) {
        flex-direction: column;
        align-items: center;
    }
}
.pricing-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    padding-top: 10px;
    .pricing-container {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        flex-wrap: wrap;
        margin: 10px;
        max-width: 330px;
        padding: 10px;
        animation: fadeIn 0.5s ease-in-out;
        .pricing-container-block{
            display: flex;
            flex-direction: column;
            height: 370px; 
            background-color: rgb(61, 59, 59);
            border-radius: 15px;
            padding: 30px;
            z-index: 2;
            position: relative;
            top: 20px;
            transition: all 0.5s ease;
            &:hover{
                background-color: #dbdbdc;
                color: rgb(61, 59, 59);
                border:rgb(92, 90, 90) solid 1px;
                transition: all 0.5s ease;
                transform: scale(1.05);
                h2, h3, p {
                    color: rgb(61, 59, 59);
                }
                a{
                    background-color: rgb(61, 59, 59);
                    color: #f5f5f5;
                    transition: all 0.5s ease;
                }
            }
            h2, h3, p {
                color: #f5f5f5;
            }
            .price-cta {
                display: flex;
                flex-direction: column;
                flex-grow: 1;
                justify-content: end;
            }
            a {
                background-color: #efefef;
                border: none;
                color: rgb(92, 90, 90);
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                cursor: pointer;
                padding: 10px 24px;
                border-radius: 5px;
                margin-top: 20px;
            }
        }
        .pricing-container-text{
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: fit-content;
            padding-top: 35px;
            padding-bottom: 5px;
            background-color: rgba(46, 45, 45, 0.381);;
            border-radius: 15px;
            position: static;
            z-index: 1;
            ul {
                list-style: none;
                li {
                    color: #f5f5f5;
                }
            }
            svg {
                margin-right: 5px; 
                width: 20px; 
                height: 20px; 
            }
            .checkmark-icon {
                color: var(--green-color); 
            }
            .close-icon {
                color: var(--red-color); 
            }
        }
    }
    @keyframes fadeIn {
        from {
          opacity: 0;
          transform: translateY(-20px);
        }
        to {
          opacity: 1;
          transform: translateY(20px);
        }
    }
}
