

.spinner-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}
.succeeded {
    color: white;
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
}
.launch-soon-subscribe-area {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    margin-top: 100px;
    margin-bottom: 100px;
    padding-right: 20px;
    .subscribe-form {
        width: 90%;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        label::before {
            content: "*";
            color: var(--red-color);
          }
        label {
            padding: 5px;
            color: var(--white-color);
            user-select: none;
            cursor: text;
        } 
        .subscribe-form-input{
            width: 70%;
            display: flex;
            flex-direction: row;
            input {
                height: 50px;
                background-color: var(--scrollbar-track-color);
                border: none;
                border-radius: 50px;
                padding: 0 20px;
                font-size: 16px;
                color: #aaa7a7;
                margin-right: 10px;
                box-shadow: none !important;
                &::placeholder {
                    color: #aaa7a7;
                    padding-left: 10px;
                }
                &:focus {
                    outline: none !important;
                }
            }
            .btn-primary {
            width: 200px;
            background-color: var(--white-color);
            color: var(--scrollbar-track-color);
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            height: 50px;
            font-size: 16px;
            border: none;
            border-radius: 50px;
            padding: 0 30px;
            cursor: pointer;
            &:hover {
                background-color: #333;
                color: white;
            }
            }
            .recaptcha{
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .recaptcha{
               
                z-index: 12;
            }
        } 
    }
    @media only screen and (max-width: 767px){
        .subscribe-form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            label {
                width: 100%;
                text-align: center;
            }
            .subscribe-form-input{
                flex-direction: column;
                input {
                    margin-right: 0;
                    margin-bottom: 20px;
                }
                .btn-primary {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                }
            }  
        }
    }
    @media only screen and (max-width: 430px){
        input::placeholder {
            text-align: center;
        }
    }
}




